{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-
    Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="sidebar col-md-3">
                {% block side_bar %}
                    {% if user.is_authenticated %}
                        <img src="{{ user.profile.avatar.url }}" class="img-fluid">

                        <ul class="list-group">
                            <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
                            <li class="list-group-item"><a href="{% url "edit" %}">Профиль</a></li>
                            <li class="list-group-item"><a href="{% url "tasks:create-table" %}">Создать таблицу</a></li>
                            <li class="list-group-item"><a href="{% url "tasks:list" %}">Таблицы</a></li>
                            <li class="list-group-item"><a href="{% url "logout" %}">Выйти</a></li>
                        </ul>
                    {% endif %}
                {% endblock %}
            </div>

            <div class="main_content col-8">
                {% block main_content %}
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>