{% extends "base.html" %}
{% load static %}

{% block title %}Таблицы пользователя{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}

{% block main_content %}
    <h1>Текущие таблицы</h1>
    <ul id="todo-list" class="list-group">
        {% for table in tables %}
        <li class="list-group-item">
            <a href="{% url "tasks:table" table.id %}">{{ table }}</a>
            <a class="remove" href="{% url "tasks:delete-table" table.id %}">X</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
