{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Текущие задачи{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}

{% block main_content %}
    <h1>Текущие задачи</h1>
    <ul id="todo-list">
        {% for task in tasks %}
            {% if task.is_completed %}
                <li class="completed">
                    <input class='checkbox' data-uid={{ task.id }} type='checkbox'
                           disabled='disabled' checked='checked'/>
                    {% else %}
                <li>
                <input class='checkbox' data-uid={{ task.id }} type='checkbox'/>
            {% endif %}
        <a href="{% url "tasks:details" task.id %}">{{ task }}</a>
        <a class="remove" href="{% url "tasks:delete" task.id %}">X</a>
        <hr/>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
